FUSION_SOLAR_CLIENT_PASSWORD={TO_REPLACE}
FUSION_SOLAR_CLIENT_USERNAME={TO_REPLACE}
KAGGLE_KEY={TO_REPLACE}
KAGGLE_USERNAME={TO_REPLACE}
LAT={TO_REPLACE}
LON={TO_REPLACE}
TELEGRAM_BOT_TOKEN_TEST={TO_REPLACE}
TELEGRAM_ID={TO_REPLACE}
GOOGLE_APP_SCRIPT_LOGGER_URL={TO_REPLACE}